@model FilmFusionDapperCoreMVCProject.Models.MovieActor
@{
    ViewData["Title"] = "AddMovieActor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="update-form-container">
	<div class="frosted-form-box fade-slide">
		<h2 class="form-title">Add New Movie-Actor</h2>

		<form asp-action="AddMovieActor" asp-controller="MovieActor" method="post">

			<div class="form-group mb-3">
				<label asp-for="Movie.Title" class="form-label">Movie</label>
				<input asp-for="Movie.Title" class="form-control form-input" />
				@*   <span asp-validation-for="FullName" class="text-danger">This field can not empty</span> *@
			</div>

			<div class="form-group mb-3">
				<label asp-for="Actor.FullName" class="form-label">Actor</label>
				<input asp-for="Actor.FullName" class="form-control form-input">
				@*   <span asp-validation-for="BirthDate" class="text-danger">This field can not empty</span> *@
			</div>

			<div class="form-group mb-3">
				<label asp-for="CharacterName" class="form-label">Character Name</label>
				<input asp-for="CharacterName" class="form-control form-input">
			</div>

			<button type="submit" class="btn btn-update">Add</button>
		</form>
	</div>
</div>


