@model IEnumerable<FilmFusionDapperCoreMVCProject.Models.Actor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header d-flex align-items-center justify-content-between mb-4">
	<h2 class="page-title"><i class="fa-solid fa-masks-theater"></i> Actors</h2>
	<a href="/Actor/AddActor" class="btn btn-add">
		<i class="fas fa-plus me-1"></i> Add New Field
	</a>
</div>


<div class="fade-slide-in">
	<table class="table-frosted table-hover text-white">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Date Of Birth</th>
				<td>Photo</td>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.ActorId</td>
					<td>@item.FullName</td>
					<td>@item.BirthDate.ToString("dd.MM.yyy")</td>
					<td>
						<img src="@item.ActorPhotoUrl" style="width: 110px" alt="ActorPhoto" />
					</td>
					

					<td>
						<a class="btn btn-custom" href="/Actor/UpdateActor/@item.ActorId">Update</a>
						&nbsp;
						<a class="btn btn-custom" href="/Actor/DeleteActor/@item.ActorId">Delete</a>
					</td>

				</tr>
			}
		</tbody>
	</table>
</div>

